/*
* СТИЛИ ДЛЯ HEADER
*/

.header {
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    margin-left: 48px;
  }
  &__soc {
    margin-left: 64px;
  }
  &__phone {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
  }

  @include desktop {
    &__menu {
      margin-left: 13px;
    }
    &__soc {
      margin-left: 37px;
    }
    &__phone {
      font-size: 14px;
    }
  }
}

.soc {
  display: flex;
  align-items: center;
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 40px;
    }
    &.search,
    &.basket {
      svg {
        width: 19px;
        height: 19px;
      }
    }
    &.login {
      svg {
        width: 16px;
        height: 19px;
      }
    }
    &.basket {
      .basket__separator {
        margin: 0 8px;
        background: rgba(196, 196, 196, 0.3);
        height: 22px;
        width: 1px;
        display: block;
      }
      .basket__count {
        color: #ffffff;
        font-size: 14px;
        line-height: 17px;
      }
    }
    @include desktop {
      &.search,
      &.basket {
        svg {
          width: 17px;
          height: 17px;
        }
      }
      &.login {
        svg {
          width: 15px;
          height: 17px;
        }
      }
    }
  }
}

@import "menu.scss";
