/*
* Стили для карточки продукта
*/
.product-cart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-top: 25px;
  &__tabs {
    width: 100%;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    .tab {
      border-radius: 50px;
      padding: 5px 15px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 12px;
      &:not(:last-child) {
        margin-right: 25px;
      }
      &.tab-new {
        background-color: #e5c232;
      }
      &.tab-hit {
        background-color: #cc4125;
      }
      &.tab-recommendation {
        background-color: #4a86e8;
      }
    }
  }
  &__mane {
    width: 100%;
    flex-grow: 1;
    display: flex;
  }
  &__img {
    padding: 0 35px 0 24px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 0;
    padding-bottom: 5px;
  }
  &__btn {
    width: 168px;
    height: 45px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
  &__price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    .old-price {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #636363;
      position: relative;
      padding: 0 5px;
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #636363;
        content: "";
      }
    }
    .new-price {
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      line-height: 26px;
      color: #19242e;
    }
  }
  &__title {
    font-size: 16px;
    line-height: 20px;
    color: #19242e;
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    p {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 140%;
      color: #636363;
    }
  }

  @include desktop {
    &__img {
      padding: 0 25px 0 15px;
    }
  }
}
