.bestCompany
  .container
    .bestCompany__content
      .bestCompany__text
        h3.bestCompany__title Двери лучших российских производителей в Воронеже
        p.bestCompany__description Здесь будрадостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
        button.bestCompany__btn.primery Заказать консультацию
      .bestCompany__carts
        .bestCompany__cart
          .bestCompany__cart--img 
            picture
              source(srcset="./assets/img/companyLogo/logo1.png 1x, ./assets/img/companyLogo/logo1@2x.png 2x, ./assets/img/companyLogo/logo1@3x.png 3x")
              img(src="./assets/img/companyLogo/logo1.png" alt="")
          .bestCompany__cart--content
            .bestCompany__cart--title Воронеж
            p.bestCompany__cart--text Большой магазин дверей - посетите нас!
        .bestCompany__cart
          .bestCompany__cart--img 
            picture
              source(srcset="./assets/img/companyLogo/logo1.png 1x, ./assets/img/companyLogo/logo1@2x.png 2x, ./assets/img/companyLogo/logo1@3x.png 3x")
              img(src="./assets/img/companyLogo/logo1.png" alt="")
          .bestCompany__cart--content
            .bestCompany__cart--title Воронеж
            p.bestCompany__cart--text Большой магазин дверей - посетите нас!
        .bestCompany__cart
          .bestCompany__cart--img 
            picture
              source(srcset="./assets/img/companyLogo/logo1.png 1x, ./assets/img/companyLogo/logo1@2x.png 2x, ./assets/img/companyLogo/logo1@3x.png 3x")
              img(src="./assets/img/companyLogo/logo1.png" alt="")
          .bestCompany__cart--content
            .bestCompany__cart--title Воронеж
            p.bestCompany__cart--text Большой магазин дверей - посетите нас!
        .bestCompany__cart
          .bestCompany__cart--img 
            picture
              source(srcset="./assets/img/companyLogo/logo1.png 1x, ./assets/img/companyLogo/logo1@2x.png 2x, ./assets/img/companyLogo/logo1@3x.png 3x")
              img(src="./assets/img/companyLogo/logo1.png" alt="")
          .bestCompany__cart--content
            .bestCompany__cart--title Воронеж
            p.bestCompany__cart--text Большой магазин дверей - посетите нас!
        .bestCompany__cart
          .bestCompany__cart--img 
            picture
              source(srcset="./assets/img/companyLogo/logo1.png 1x, ./assets/img/companyLogo/logo1@2x.png 2x, ./assets/img/companyLogo/logo1@3x.png 3x")
              img(src="./assets/img/companyLogo/logo1.png" alt="")
          .bestCompany__cart--content
            .bestCompany__cart--title Воронеж
            p.bestCompany__cart--text Большой магазин дверей - посетите нас!