section.section.categories
  .container
    .section-content
      h2.section-title Категории товара
      span.section-polosa
      p.section-subtitle Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь
      .categories__carts
        .category-cart
          .category-cart__img
            picture
              source(srcset="./assets/img/categoriesCart/cart1.png 1x, ./assets/img/categoriesCart/cart1@2x.png 2x, ./assets/img/categoriesCart/cart1@3x.png 3x")
              img(src="./assets/img/categoriesCart/cart1.png" alt="Межкомнатные двери")
          .category-cart__content
            .content__container
              h6.category-cart__title Межкомнатные двери
              p.category-cart__text Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь
              a.category-cart__link(href='#') Подробнее
        .category-cart
          .category-cart__img
            picture
              source(srcset="./assets/img/categoriesCart/cart2.png 1x, ./assets/img/categoriesCart/cart2@2x.png 2x, ./assets/img/categoriesCart/cart2@3x.png 3x")
              img(src="./assets/img/categoriesCart/cart2.png" alt="Входные двери")
          .category-cart__content
            .content__container
              h6.category-cart__title Входные двери
              p.category-cart__text Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь
              a.category-cart__link(href='#') Подробнее
        .category-cart
          .category-cart__img
            picture
              source(srcset="./assets/img/categoriesCart/cart3.png 1x, ./assets/img/categoriesCart/cart3@2x.png 2x, ./assets/img/categoriesCart/cart3@3x.png 3x")
              img(src="./assets/img/categoriesCart/cart3.png" alt="Дверные системы")
          .category-cart__content
            .content__container
              h6.category-cart__title Дверные системы
              p.category-cart__text Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь
              a.category-cart__link(href='#') Подробнее
        .category-cart
          .category-cart__img
            picture
              source(srcset="./assets/img/categoriesCart/cart4.png 1x, ./assets/img/categoriesCart/cart4@2x.png 2x, ./assets/img/categoriesCart/cart4@3x.png 3x")
              img(src="./assets/img/categoriesCart/cart4.png" alt="Специальные двери")
          .category-cart__content
            .content__container
              h6.category-cart__title Специальные двери
              p.category-cart__text Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь
              a.category-cart__link(href='#') Подробнее
        .category-cart
          .category-cart__img
            picture
              source(srcset="./assets/img/categoriesCart/cart5.png 1x, ./assets/img/categoriesCart/cart5@2x.png 2x, ./assets/img/categoriesCart/cart5@3x.png 3x")
              img(src="./assets/img/categoriesCart/cart5.png" alt="Фурнитура")
          .category-cart__content
            .content__container
              h6.category-cart__title Фурнитура
              p.category-cart__text Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь
              a.category-cart__link(href='#') Подробнее
