nav.menu.header__menu
  li.dropdown
    a.menu-link(href="#")
      svg( viewbox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M1 1L8 8L15 1' stroke-linecap='round')
      | Каталог товаров
  li
    a.menu-link(href="#") акции
  li.dropdown
    a.menu-link(href="#")
      svg(viewbox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M1 1L8 8L15 1' stroke-linecap='round')
      | услуги
  li
    a.menu-link(href="#") О нас
  li.dropdown
    a.menu-link(href="#")
      svg(viewbox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M1 1L8 8L15 1' stroke-linecap='round')
      | полезное
  li
    a.menu-link(href="#") Контакты