section.section.recommendation
  .container
    .section-content
      h2.section-title Рекомендации
      span.section-polosa
      p.section-subtitle Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь
      .recommendation__carts
        .product-cart
          .product-cart__tabs
            .tab.tab-new
              p Новинка
            .tab.tab-hit
              p хит
            .tab.tab-recommendation
              p рекомендуем
          .product-cart__mane
            .product-cart__img
              picture
                source(srcset="assets/img/productCart/cart1.png 1x, assets/img/productCart/cart1@2x.png 2x, assets/img/productCart/cart1@3x.png 3x")
                img(src="assets/img/productCart/cart1.png" alt="")
            .product-cart__content 
              .product-cart__title Челси1 (Эмаль мокко)
              .product-cart__description
                p Модель: VOD807-PL-03
                p Размер: 14х135х3000
              .product-cart__price
                p.old-price 15 500 руб.
                p.new-price 14000 руб.
              button.product-cart__btn.primery подробнее
        .product-cart
          .product-cart__tabs
            .tab.tab-new
              p Новинка
            .tab.tab-hit
              p хит
            .tab.tab-recommendation
              p рекомендуем
          .product-cart__mane
            .product-cart__img
              picture
                source(srcset="assets/img/productCart/cart1.png 1x, assets/img/productCart/cart1@2x.png 2x, assets/img/productCart/cart1@3x.png 3x")
                img(src="assets/img/productCart/cart1.png" alt="")
            .product-cart__content 
              .product-cart__title Челси1 (Эмаль мокко)
              .product-cart__description
                p Модель: VOD807-PL-03
                p Размер: 14х135х3000
              .product-cart__price
                p.old-price 15 500 руб.
                p.new-price 14000 руб.
              button.product-cart__btn.primery подробнее
        .product-cart
          .product-cart__tabs
            .tab.tab-new
              p Новинка
            .tab.tab-hit
              p хит
            .tab.tab-recommendation
              p рекомендуем
          .product-cart__mane
            .product-cart__img
              picture
                source(srcset="assets/img/productCart/cart1.png 1x, assets/img/productCart/cart1@2x.png 2x, assets/img/productCart/cart1@3x.png 3x")
                img(src="assets/img/productCart/cart1.png" alt="")
            .product-cart__content 
              .product-cart__title Челси1 (Эмаль мокко)
              .product-cart__description
                p Модель: VOD807-PL-03
                p Размер: 14х135х3000
              .product-cart__price
                p.old-price 15 500 руб.
                p.new-price 14000 руб.
              button.product-cart__btn.primery подробнее
        .product-cart
          .product-cart__tabs
            .tab.tab-new
              p Новинка
            .tab.tab-hit
              p хит
            .tab.tab-recommendation
              p рекомендуем
          .product-cart__mane
            .product-cart__img
              picture
                source(srcset="assets/img/productCart/cart1.png 1x, assets/img/productCart/cart1@2x.png 2x, assets/img/productCart/cart1@3x.png 3x")
                img(src="assets/img/productCart/cart1.png" alt="")
            .product-cart__content 
              .product-cart__title Челси1 (Эмаль мокко)
              .product-cart__description
                p Модель: VOD807-PL-03
                p Размер: 14х135х3000
              .product-cart__price
                p.old-price 15 500 руб.
                p.new-price 14000 руб.
              button.product-cart__btn.primery подробнее
        .product-cart
          .product-cart__tabs
            .tab.tab-new
              p Новинка
            .tab.tab-hit
              p хит
            .tab.tab-recommendation
              p рекомендуем
          .product-cart__mane
            .product-cart__img
              picture
                source(srcset="assets/img/productCart/cart1.png 1x, assets/img/productCart/cart1@2x.png 2x, assets/img/productCart/cart1@3x.png 3x")
                img(src="assets/img/productCart/cart1.png" alt="")
            .product-cart__content 
              .product-cart__title Челси1 (Эмаль мокко)
              .product-cart__description
                p Модель: VOD807-PL-03
                p Размер: 14х135х3000
              .product-cart__price
                p.old-price 15 500 руб.
                p.new-price 14000 руб.
              button.product-cart__btn.primery подробнее
        .product-cart
          .product-cart__tabs
            .tab.tab-new
              p Новинка
            .tab.tab-hit
              p хит
            .tab.tab-recommendation
              p рекомендуем
          .product-cart__mane
            .product-cart__img
              picture
                source(srcset="assets/img/productCart/cart1.png 1x, assets/img/productCart/cart1@2x.png 2x, assets/img/productCart/cart1@3x.png 3x")
                img(src="assets/img/productCart/cart1.png" alt="")
            .product-cart__content 
              .product-cart__title Челси1 (Эмаль мокко)
              .product-cart__description
                p Модель: VOD807-PL-03
                p Размер: 14х135х3000
              .product-cart__price
                p.old-price 15 500 руб.
                p.new-price 14000 руб.
              button.product-cart__btn.primery подробнее