section.section.reviews
  .container
    .section-content
      h2.section-title Обзоры
      span.section-polosa
      p.section-subtitle Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь
      .reviews__carts
        .reviews__cart
          .reviews__cart-img
            picture
              source(srcset="./assets/img/reviews/review1.png 1x, ./assets/img/reviews/review1@2x.png 2x, ./assets/img/reviews/review1@3x.png 3x")
              img(src="./assets/img/reviews/review1.png" alt="Белые межкомнатные двери")
          .reviews__cart-content
            h6.reviews__cart-title Белые межкомнатные двери
            a.reviews__cart-link(href="#") подробнее
        .reviews__cart
          .reviews__cart-img
            picture
              source(srcset="./assets/img/reviews/review2.png 1x, ./assets/img/reviews/review2@2x.png 2x, ./assets/img/reviews/review2@3x.png 3x")
              img(src="./assets/img/reviews/review2.png" alt="Белые межкомнатные двери")
          .reviews__cart-content
            h6.reviews__cart-title Деревянный пол для столовой 2 строчки
            a.reviews__cart-link(href="#") подробнее
        .reviews__cart
          .reviews__cart-img
            picture
              source(srcset="./assets/img/reviews/review3.png 1x, ./assets/img/reviews/review3@2x.png 2x, ./assets/img/reviews/review3@3x.png 3x")
              img(src="./assets/img/reviews/review3.png" alt="Белые межкомнатные двери")
          .reviews__cart-content
            h6.reviews__cart-title Специальные двери для запасного выхода
            a.reviews__cart-link(href="#") подробнее
        .reviews__cart
          .reviews__cart-img
            picture
              source(srcset="./assets/img/reviews/review4.png 1x, ./assets/img/reviews/review4@2x.png 2x, ./assets/img/reviews/review4@3x.png 3x")
              img(src="./assets/img/reviews/review4.png" alt="Белые межкомнатные двери")
          .reviews__cart-content
            h6.reviews__cart-title Межкомнатные двери в квартиру
            a.reviews__cart-link(href="#") подробнее
