<!DOCTYPE html>
html(lang="")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    include ../components/header.pug
    .first
      .container
        .first__content

    include ../components/categories.pug
    include ../components/recommendation.pug
    include ../components/best-company.pug
    include ../components/reviews.pug

    section.section.installedDoors
      .container
        .section-content
          h2.section-title установленные двери
          span.section-polosa
          p.section-subtitle Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь

    section.section.whyWe
      .container
        .section-content
          h2.section-title
          span.section-polosa
          p.section-subtitle